.containerLogin {
    width: 100vw;
    height: 100vh;
    background: rgb(35,41,70);
    background: linear-gradient(135deg, rgba(35,41,70,1) 29%, rgba(35,58,167,0.9472163865546218) 60%, rgba(184,193,236,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerForm{
    background-color: rgb(31, 29, 29);
    width: auto;
    padding: 0px 5% 0px;
    border-radius: 0.4rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}